#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > div {
  display: inline-block;
  margin: 0;
  /* border: 1px dashed grey; */
  height: 48px;
}

#header > #logo {
  background-image: url("../images/jm_logo1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
}

#header > #title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

#header > #title > #caption {
  height: fit-content;
}

#header > #title > #caption > h1 {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}